<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Canvas</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <a href="" class="header__logo">
            
            </a>
            <div class="header__task">
                Lorem ipsum dolor sit amet.
            </div>
        </header>
        <main class="main">
            <aside class="sidebar">
                <nav class="sidebar__menu">
                    <ul class="sidebar__tools">
            
                    </ul>
                </nav>
            </aside>
            <section class="canvas">

            </section>
        </main>
        <footer class="footer">
            <div class="footer__copy">
                Copy, 2023
            </div>
            <div class="footer__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            </div>
        </footer>
    </div>
</body>
</html>