.wrapper {
    min-height: 100vh; 
    display: grid;
    grid-template: minmax(70px, auto) 1fr minmax(70px, auto) / 1fr; 
    grid-template-areas: 
        "header"
        "main"
        "footer";

    .fa-xl {
        line-height: unset;
        vertical-align: unset;
    }
        
    .main {
        display: grid;
        grid-area: main;
        grid-template: 1fr / minmax(auto, 200px) 1fr;
        
        .sidebar {
            background-color: var(--c-01);
            padding: var(--sp-l);
            display: flex;
            flex-direction: column;
            gap: 10px;
        
            &__menu {
                display: flex;
            }

            &__range {
                appearance: slider-vertical;
                writing-mode: bt-lr;
                width: 20px;
            }

            &__tools {
                padding: unset;
                margin: unset;
                display: grid;
                grid-template-columns: repeat(2, max-content);
                width: max-content;
                margin: auto;
                background-color: var(--c-04);
                border-radius: 12px;
            }

            &__tool {
                list-style: none;  
                width: auto;
                height: auto;
                padding-left: 4px;
                margin: 5px;
                color: var(--c-03);

                &:hover {
                    color: var(--c-01);
                    opacity: 0.4;
                    transition: 0.4s;
                }

                .active {
                    color: var(--c-01);
                }
            }

            &__color {
                width: 100%;
            }
        }
            
        .canvas {
            position: relative;
            overflow-x: auto;
            white-space: nowrap;

            canvas {
                position: absolute;
                cursor: crosshair;
            }
        }
    }
}